form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  align-items: center;
}

h3{
  margin-top: 20px;
  color: #34ef2d;
}

div{
  height: 75px;
}

div p {
  color: red;
}
